#01 Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

Bryan Nicholas - 2273009

Import Modules

In [6]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.3
1.26.2

Persiapan Data Frame

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size =(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  3  3  3  7  3
1  8  2  5  4  9
2  8  3  2  6  1
3  1  4  8  2  5
4  2  2  4  2  3

In [2]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

Menyertakan Prefix Kolom

In [8]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        3        3        3        7        3
1        8        2        5        4        9
2        8        3        2        6        1
3        1        4        8        2        5
4        2        2        4        2        3

Menyertakan Suffix kolom

In [9]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        3        3        3        7        3
1        8        2        5        4        9
2        8        3        2        6        1
3        1        4        8        2        5
4        2        2        4        2        3